<!DOCTYPE html>
<html>

<head></head>

<body>
  <h1>Book Results</h1>
  <p><a href="/">New Search</a></p>

  <ul>
    <% searchResults.forEach(volumeInfo => { %>
    <li><img src='<%= volumeInfo.imageLinks %>' /></li>
    <li><%= volumeInfo.title %></li>
    <li><%= volumeInfo.authors %></li>
    <li><%= volumeInfo.description %></li>
    <% }); %>
  </ul>

  
</body>

</html>