
main{
  width:80%;
  margin:100px auto;
  background: rgba(92, 171, 125, 0.85);
  position: inherit;border-radius: 25px;
  padding: 20px;
}

header{
  position: fixed;
  top: 0;
}

footer{
  position: fixed;
  bottom: 0;
}

form{
  background: rgba(176, 178, 184, 0.473);
  width:80%;
  padding:20px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
}

input{
  background: white;
  color:#273043;
  font-family: 'Inconsolata', monospace;
  padding:10px;
  font-size: 18px;
  border:none;
  width:90%;
  box-sizing: border-box;
  margin:0px auto;
}

fieldset{
  color: #273043;
  font-size: 18px;
  /* width:250px; */
  padding:10px;
  margin:0px auto;
  /* display: inline; */
  /* flex-grow: 1; */
  /* flex-basis: auto; */
  box-sizing: border-box;
}


button{
  font-family: 'Neucha', cursive;
  font-size: 20px;
  color:#fff;
  background: #F4AC45;
  width:20%;
  border: 0;
  padding: 15px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  box-sizing: border-box;
  margin:0px auto;
}


ul{
  margin:0px auto;
}

div{
  margin:10px auto;
  width:90%;
  /* display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 1fr 4fr;
  grid-template-areas: 
  "img title"
  "img author"
  "img description"; */
  /* justify-items: stretch; */
  padding: 5px;
  border: #5CAB7D;
  border-radius: 15px;
  box-sizing: border-box;
  background: rgba(176, 178, 184, 0.473);
  line-height: 1.25em;
  -moz-box-shadow: 3px 4px 5px 0px rgba(39, 48, 67, 0.75);
  -webkit-box-shadow: 3px 4px 5px 0px rgba(39, 48, 67, 0.75);
  box-shadow: 3px 4px 5px 0px rgba(39, 48, 67, 0.75);
}

img {
  /* height: 100%; */
  /* width: 30%; */
  -moz-box-shadow: 3px 4px 5px 0px rgba(39, 48, 67, 0.75);
  -webkit-box-shadow: 3px 4px 5px 0px rgba(39, 48, 67, 0.75);
  box-shadow: 3px 4px 5px 0px rgba(39, 48, 67, 0.75);
  /* grid-area:img; */
}

/* 
.img {
  height: 250px;
  width: 180px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
} */

.title {
  /* width: 300px; */
  /* display: inline-block; */
  /* grid-area:title; */
}

.author {
  /* grid-area:author; */

}

.description {
  overflow: scroll;
  height: 80px;
  /* width: 300px; */
  /* display: inline-block; */
  /* display: initial; */
  /* grid-area:description; */
}