
<nav class="topnav" id="burgerMenu">

    <a href="/" class="active">
      <h1>B&A Books</h1>
    </a>


    <a href="/">
      Return to Bookshelf
    </a>
    <a href="/new">
      Start New Search
    </a>

    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">
      <i class="fas fa-bars"></i>
    </a>
</nav>
