
<nav class="topnav" id="burgerMenu">
    <a href="/" class="active"><h1>Oprah's Best Books</h1></a>
    <a href="/views/pages/index.ejs">Go Back Home</a>
    <a href="/views/pages/searches/new.ejs">search GoogleBooks API!</a>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()"><i class="fas fa-bars"></i></a>
</nav>
